#yeah{
	width: 98%;
	height: 1100px;
	margin: 0px;

}
#head_01{
	width: 80%;
	height: 200px;
	background: #fff;
	margin: 0px auto;
}
#h_left{
	width: 20%;
	height: 100%;
	background-color: #F58;
	float: left;
}
#h_right{
	width: 80%;
	height: 100%;
	background-color: #0AD;
	float: left;
}
#body_01{
	width: 80%;
	height: 800px;
	margin: 0px auto;
}
#b_left{
	width: 20%;
	height: 100%;
	float: left;
	background-color: #0AD;
}
#b_right{
	width: 80%;
	height: 800px;
	float: left;
	background: #F58;
	overflow-y: scroll;
}
#foot_01{
	width: 80%;
	height: 100px;
	margin: 0 auto;
}
::-webkit-scrollbar{
	display: none;
}
