<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>从0到1，无限可能</title>
    <meta name="description" content="个人的一个练手博客">
    <meta name="keywords" content="0,1,01,01yeah,01博客,博客,叶家健">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/unify.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
</head>

<body>
    <div id="yeah">
        <div id="head_01">
            <div id="h_left">
                <p>
                    <a name="top">
                        生前何必久睡，死后自会长眠
                    </a>
                </p>
            </div>
            <div id="h_right">
                &nbsp;
            </div>
        </div>
        <div id="body_01">
            <div id="b_left">
                <nav>
                    <!--<ul>
                        <li>
                            <a href="html/day1.html">
                                第一天学习历程
                            </a>
                        </li>
                        <li>
                            <a href="html/tb.html">
                                表格
                            </a>
                        </li>
                        <li>
                            <a href="html/ul.html">
                                列表
                            </a>
                            <span>2019年5月22日23:08:00</span>
                        </li>
                        <li>
                            <span>布局 2019年5月24日20:33:56</span>
                        </li>
                        <li>
                            <a href="html/form_01.html">
                                表单
                            </a>
                            <span>2019年5月24日21:26:14</span>
                        </li>
                        <li>
                            <a href="html/article.html">
                                article
                            </a>
                            <span>2019年5月26日17:59:38</span>
                        </li>
                    </ul>-->
                </nav>
            </div>
            <div id="b_right">
                <div id="root">
                    <div>
        	            <input type="text" v-model="inputValue" />
        	            <button @click="headleClick">提交</button>
                    </div>
                    <ul>
                    <li v-for="(item,index) of list" :key="index">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="foot_01">
            <a href="#top">
                回到顶部
            </a>
        </div>
    </div>
    <script>
    new Vue({
        el: "#root",
        data: {
            inputValue: "",
            list:[]
        },
        methods:{
        	headleClick: function(){
        		this.list.push(this.inputValue)
        		this.inputValue = ""
        	}
        }
    })
    </script>
</body>

</html>
